:root{
    --border-color: #291d4d;
    --dialog-background: #fff3b4;
    --menu-background: #A48465;
    --menu-font-color: #3a160d;
    --menu-selected-background: #7fc2ff;
    --background-color: #90b0bf;
}

*{
    box-sizing: border-box;
}

body {
    background: #90b0bf;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 352px;
    height: auto;
    aspect-ratio: 352 / 198;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(4) translateY(-10%); /* Ajusta esto si necesitas escalar adicionalmente */
}

.game-container canvas {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

@media (max-width: 1500px) {
    .game-container {
        transform: scale(3); /* Puedes ajustar esto según sea necesario */
    }
}

@media (max-width: 700px) {
    .game-container {
        transform: scale(2); /* Puedes ajustar esto según sea necesario */
    }
}

@media (max-width: 400px) {
    .game-container {
        transform: scale(1); /* Puedes ajustar esto según sea necesario */
    }
}