@font-face {
    font-family: 'Pixel Operator';
    src: url('fonts/PixelOperator8-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.TextMessage{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    font-size: 14px;
    padding: 5px;
    background: rgb(215, 220, 225);
    border: 1px solid black;
    color: var(--menu-font-color);
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3), /* Sombra lateral */
    6px 6px 0px rgba(0, 0, 0, 0.2); /* Sombra inferior */
    transform: translate(0px, -5px); /* Ajuste de posición para crear el efecto 3D */
}

.TextMessage_p{
    margin: 0;
    font-family: Pixel Operator8-Bold,VT323,Roboto Mono;
    font-size: 12px;

}

.TextMessage_button{
    margin: 0;
    font-size: 6px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: VT323,Roboto Mono;
    font-weight: 550;
    cursor: pointer;
    
    position: absolute;
    right: 2px;
    bottom: 0;
}