
.TextMessage{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 36px;
    font-size: 13px;
    padding: 4px;
    background: rgb(215, 220, 225);
    border: 1px solid black;
    color: var(--menu-font-color);
}

.TextMessage_p{
    margin: 0;
    font-size: 13px;
    font-family: "Silkscreen",Pixelify Sans;
    font-size: 10px;

}
.TextMessage_button{
    margin: 0;
    font-size: 6px;
    padding: 0;
    -webkit-appearance: none;
    background: none;
    border: 0;
    font-family: "Silkscreen",Pixelify Sans;
    cursor: pointer;
    
    position: absolute;
    right: 2px;
    bottom: 0;
}